<div class="table-data__tool">
    <div class="table-data__tool-left">

    </div>

</div>
<div class="table-responsive table-responsive-data2">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>

                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Number</th>
                    <th scope="col">Country</th>
                    <th>Actions</th>

                </tr>
        </thead>
        <tbody id="tableau">
            <tr class="tr-shadow">
                <tr *ngFor="let item of personsData;let i = index;">
                    <td>{{item.id}}</td>
                    <td>{{item.lastname}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.number}}</td>
                    <td>{{item.country}}</td>
                    <td>

                        <div class="table-data-feature">
                            <button class="item" data-toggle="tooltip" data-placement="top" (click)="getPersonInfos(item)" title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" (click)="delete(item,i)" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>

        </tbody>
    </table>
</div>
<!-- END DATA TABLE -->