<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="container">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="lastname" class="form-control" #lastname="ngModel" id="name" [(ngModel)]="rest.formData.lastname" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" #age="ngModel" class="form-control" [(ngModel)]="rest.formData.age" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="number">Number</label>
            <input type="number" id="number" name="number" #number="ngModel" class="form-control" [(ngModel)]="rest.formData.number" placeholder="Number">
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" #country="ngModel" class="form-control" [(ngModel)]="rest.formData.country" placeholder="Country">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-warning ml-1" (click)="Cancel()">Cancel</button>
    </div>
</form>